.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        input, textarea {
            padding: 20px 30px;
            width: 100%;
            outline: none;
            font-size: 17px;
            background: #F3F3F3;
            border: none;
            font-family: inherit;
            resize: none;

            &:focus {
                outline: solid 1px #2D2D2D;
            }
        }

        button {
            padding: 20px 30px;
            width: fit-content;
            background-color: #000;
            color: #FFF;
            font-size: 20px;
            font-weight: 600;
            font-family: inherit;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}