@import "../../styles/responsive.scss";



.about-hero {
    display: flex;
    flex-direction: column;
    width: 100%;


    section.top {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 80px 30px;
        background-color: #F9E6F0;

        @include sm {
            flex-direction: row;
            align-items: center;
            padding: 80px;
        }

        .pic-bio {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        .info {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                margin-top: 10px;

                &:hover {
                    transform: scale(1.05);
                }
            }

            span {
                background-color: #D88CA5;
                padding: .5rem;
                color: #2D2D2D;
                border-radius: 40px;
                font-weight: 700;
                display: inline-flex;
                align-items: center;

                img {
                    width: 28px;
                    height: 28px;
                }


            }
        }

        .bio {
            max-width: 600px;

            h3 {
                margin-bottom: 1rem;
            }

            p {
                text-align: justify;
                word-spacing: -0.8px;
            }
        }
    }

    section.bottom {
        padding: 80px 30px;

        p {
            text-align: justify;
            word-spacing: 1.1px;
        }

        @include sm {
            padding: 80px;

            p {
                max-width: 86%;
                margin: 0 auto;
                text-align: justify;
            }
        }
    }

    hr {
        width: 90%;
        margin: 0 auto;
        color: #000;
        margin-bottom: 2rem;
    }
    

}